body {
  padding-top: 70px;
}

.bestGenome {
  border: 1px solid #666;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
}

.lineAverage {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.lineDeviation {
  fill: none;
  stroke: red;
  stroke-width: 1px;
}

#graph-container {
  font-size: 10px;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}